/* Estilos Globales */
body { 
    font-family: 'Public Sans', sans-serif; 
}

/* Configuración de Iconos */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Clase reutilizable para inputs para limpiar el HTML */
.input-custom {
    width: 100%;
    background-color: #ffffff; /* surface-container-lowest */
    border: none;
    outline: 1px solid rgba(191, 202, 186, 0.3); /* outline-variant */
    border-radius: 0.125rem;
    padding: 0.75rem 1rem;
    transition: all 0.3s ease;
}

.input-custom:focus {
    outline: 2px solid #88d982; /* primary-fixed-dim */
    box-shadow: 0 0 0 4px rgba(136, 217, 130, 0.2);
}